* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* make the nav flex logo and linkes and buttons */
nav{
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 30px;
}

 nav .links{
 display: flex;
 gap: 35px;
}

nav .links a{
text-decoration: none;
font-size: 16px;
color: #000;
font-weight: 300;
}

button{
    border: 0.5px solid #ccc;
    border-radius: 20px;
    margin-left: 5px;
    padding: 6px 12px;
    background: transparent;
    cursor: pointer;
    
}
.log{

    color: #333;
    border-color: #ccc;
    background: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.get{

    color: white;
    background-color: #28a745;
    border-color: #28a745;



}