.NavAndBigPictureAndTextAndCircles {
  display: block;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 30px;
}

.XuryaLogo img {
  height: 100px;
}

nav .Links {
  display: flex;
  gap: 35px;
}

nav .Links a {
  text-decoration: none;
  font-size: 16px;
  color: #717172;
  font-weight: Regular;
}

button {
  border: 0.5px solid #cccccc;
  border-radius: 20px;
  margin-left: 5px;
  padding: 6px 12px;
  background: transparent;
  cursor: pointer;
}
.LoginButton {
  color: #333;
  border-color: #ccc;
  background: transparent;
  box-shadow: 0 2px 5px #00000033;
  margin-right: 1px;
}

.GitInTouchButton {
  color: #ffffff;
  background-color: #00d47e;
  border-color: #00d47e;
  margin-right: 0%;
}

.BigPicture #BigPicture {
  width: 98.5%;
  height: 800px;
  margin-left: 13px;
  margin-top: 0;
  border: solid 1px #ffffff;
  border-radius: 20px;
  opacity: 1;
}

.BigPicture {
  position: relative;
}

.NumbersInStatisticsBox {
  display: flex;
  justify-content: space-around;
  font-weight: 400;
}
.StatisticsBox {
  display: block;
  background-color: #ffffff;
  width: 40%;
  height: 30%;
  position: absolute;
  padding-top: 40px;
  bottom: 1px;
  right: 15px;
  border-top-left-radius: 30px;
}

.TextsInStatisticsBox {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  margin-left: 40px;
  color: #717172;
}
.EnergyProviderText {
  color: #ffffff;
  position: absolute;
  top: 30%;
  left: 6%;
  z-index: 2;
  font-weight: Regula;
}

.NewEnergyText {
  position: absolute;
  top: 34%;
  left: 6%;
  color: #ffffff;
  font-size: 100px;
  font-weight: 300;
  z-index: 2;
}

.GetInTouchAndOurServicesLinkes {
  display: flex;
  position: absolute;
  bottom: 30%;
  left: 6%;
  gap: 40px;
}

.GetInTouchAndOurServicesLinkes a {
  text-decoration: none;
  color: #ffffff;
}

.QualityText {
  font-weight: 300;
}

.QualityText #CustomerTrust {
  color: #8d959d;
}

.TextUnderFirstPhoto {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.TextUnderFirstPhoto #SmallQualityText {
  font-weight: Regular;
  color: #717172;
}
.Circles {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 0;
  margin-top: 50px;
}

.Circle {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #f2f4f4 solid 2px;
  background-color: #f2f4f4;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  padding: 120px;
  text-align: center;
}

.Circle:hover {
  background-color: #ffffff;
  box-shadow: 0 5px 10px #00000033;
}

.Circle #Circle1 {
  font-weight: bold;
  color: #00d47e;
}

.Circle #Circle1 #trend {
  font-weight: bold;
  font-style: normal;
  font-size: large;
  letter-spacing: 1px;
}

.Circle #Circle1 #micro {
  font-weight: 600;
  font-style: normal;
  font-size: 10px;
  letter-spacing: 5px;
}

.Circle #Circle2 {
  display: inline-flex;
  gap: 2px;
}

.Circle #Circle2 #telai {
  font-weight: bold;
}

.Circle #Circle2 #Cygate {
  font-weight: Regular;
}

.Circle #Circle3 {
  font-weight: bold;
}
.Circle #Circle4 {
  font-weight: 600;
}

.Circle #Circle5 {
  font-weight: bold;
  font-size: larger;
}

.QualityTextAndService {
  display: block;
  margin-top: 8%;
  margin-bottom: 8%;
  background-color: #f2f4f4;
  height: 900px;
}

.text4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6%;
}

.service {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10x;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 4%;
  margin-bottom: 6%;
  border: #f4f2f3 solid 1px;
  border-radius: 20px;
  overflow: hidden;
}

.internal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 25px;
  font-weight: regular;
  background-color: #ffffff;
  border: #f2f4f4 solid 1px;
  padding-top: 25px;
  padding-left: 20px;
}
.internal > img {
  width: 40px;
  height: 40px;
}
#LayeredSecurity {
  color: #7d7d7d;
}

.text5 {
  font-weight: 300;
}

.get1 {
  height: 40px;
  width: 150px;
  background-color: #00d47e;
  color: #ffffff;
}

.TrustedTextandTable {
  display: block;
}
.textandgetbut {
  gap: 24%;
  left: 50px;
  position: absolute;
  top: 0;
}

.Allcontant {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
}

.textandbutandtable {
  position: relative;
  width: 600px;
  padding: 200px;
}

.table {
  position: absolute;
  bottom: -26px;
  left: 30px;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  gap: 10px;
  width: 450px;
}

.Manimg img {
  border-radius: 20px;
  width: 500px;
}
.solar {
  background-color: #ffffff;
  border: 2px solid #f2f4f4;
  border-radius: 15px;
  padding: 10px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.solar p {
  color: #9ea0a0;
}
.solar h5 {
  font-weight: 300;
}
.solar a {
  color: black;
}
.Medtronic {
  width: 70%;
  height: 500px;
  background-color: #f2f4f4;
  margin-top: 4%;
  margin-left: 15%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 50px;
  padding-bottom: 30px;
}

.Medtronic #head {
  padding-top: 50p;
  margin-top: 50px;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-weight: 500;
}

.Viewcasestudy {
  height: 40px;
  background-color: #00d47e;
  color: #ffffff;
  margin-bottom: 100px;
  width: 150px;
}
#carimg {
  position: absolute;
  width: 25%;
  height: 480px;
  bottom: 10px;
  right: 280px;
  border-radius: 20px;
}
.CarAndMedtronic {
  position: relative;
}
.line {
  width: 200px;
  height: 3px;
  border: none;
  background-color: #333;
  margin-left: 50px;
}
.Medtronic p {
  width: 400px;
  margin-top: 30px;
}

.lines {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.textandicones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.icones1 {
  position: absolute;
  left: 565px;
  top: 1px;
}
.icones2 {
  position: absolute;
  left: 823px;
  color: #8d959d;
}
.icones3 {
  position: absolute;
  left: 1077px;
  color: #8d959d;
}

.blackbox {
  display: block;
  background-color: #000000;
  margin-top: 150px;
  width: 100%;
}
.SupportTexts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 100px;
  position: relative;
  margin-bottom: 150px;
}

#FirstText {
  position: absolute;
  top: 220px;
  color: #ffffff;
}

#SecondText {
  position: absolute;
  top: 220px;
  left: 550px;
  color: #ffffff;
}

.nav2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icoens {
  color: #ffffff;
}

.finalline {
  width: 76%;
  height: 3px;
  background-color: #cec2c2;
  margin-left: 12%;
  margin-top: 3%;
}

.Terms {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 4%;
  gap: 55%;
  margin-left: 12%;
  color: #ffffff;
}

.SmallPictureInTheGigPicture {
  width: 17%;
  height: 39%;
  position: absolute;
  top: 12%;
  right: 10%;
  background-color: #bab9b966;
  border-radius: 15px;
}

.SmallPictureInTheGigPicture img {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 15px;
  width: 220px;
  height: 220px;
}

.SmallPictureInTheGigPicture p {
  color: #ffffff;
  margin-top: 20px;
  margin-left: 180px;
}

.curveone {
  width: 2rem;
  height: 2rem;
  contain: "";
  position: absolute;
  background-color: transparent;
  bottom: 1px;
  left: 1028px;
  border-bottom-right-radius: 1.3rem;
  box-shadow: 0.5rem 0.5rem #ffffff;
}

.curvetwo {
  width: 2rem;
  height: 2rem;
  contain: "";
  position: absolute;
  background-color: transparent;
  right: 15px;
  bottom: 241px;
  border-bottom-right-radius: 1.3rem;
  box-shadow: 0.5rem 0.5rem #ffffff;
}
.SupportTexts .QualityText #FocusingQuality {
  color: #ffffff;
}
.buttonundertextblack p {
  color: #ffffff;
}
#whitebutton {
  width: 130px;
  height: 45px;
  background-color: #ffffff;
  color: #000000;
}
.logo img {
  height: 40px;
  background-color: #000000;
}
.Links #LinksForBlackbox {
  color: #ffffff;
}
#CTO {
  color: #5c5d5d;
}
