.navandbigpictureandtextandcircles {
  display: block;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 30px;
}

.xuryalogo img {
  height: 100px;
}

nav .links {
  display: flex;
  gap: 35px;
}

nav .links a {
  text-decoration: none;
  font-size: 16px;
  color: #717172;
  font-weight: Regular;
}

button {
  border: 0.5px solid #cccccc;
  border-radius: 20px;
  margin-left: 5px;
  padding: 6px 12px;
  background: transparent;
  cursor: pointer;
}
.loginbutton {
  color: #333;
  border-color: #ccc;
  background: transparent;
  box-shadow: 0 2px 5px #00000033;
  margin-right: 1px;
}

.gitintouchbutton {
  color: #ffffff;
  background-color: #00d47e;
  border-color: #00d47e;
  margin-right: 0%;
}

.bigpicture #bigpicture {
  width: 98.5%;
  height: 800px;
  margin-left: 13px;
  margin-top: 0;
  border: solid 1px #ffffff;
  border-radius: 20px;
  opacity: 1;
}

.bigpicture {
  position: relative;
}

.numbersinstatisticsbox {
  display: flex;
  justify-content: space-around;
  font-weight: 400;
}
.statisticsbox {
  display: block;
  background-color: #ffffff;
  width: 40%;
  height: 30%;
  position: absolute;
  padding-top: 40px;
  bottom: 1px;
  right: 15px;
  border-top-left-radius: 30px;
}

.textsinstatisticsbox {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  margin-left: 40px;
  color: #717172;
}
.energyprovidertext {
  color: #ffffff;
  position: absolute;
  top: 30%;
  left: 6%;
  z-index: 2;
  font-weight: Regula;
}

.newenergytext {
  position: absolute;
  top: 34%;
  left: 6%;
  color: #ffffff;
  font-size: 100px;
  font-weight: 300;
  z-index: 2;
}

.getintouch-and-ourserviceslinkes {
  display: flex;
  position: absolute;
  bottom: 30%;
  left: 6%;
  gap: 40px;
}

.getintouch-and-ourserviceslinkes a {
  text-decoration: none;
  color: #ffffff;
}

.qualitytext {
  font-weight: 300;
}

.qualitytext #customertrust {
  color: #8d959d;
}

.text-under-first-photo {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.text-under-first-photo #smallqualitytext {
  font-weight: Regular;
  color: #717172;
}
.circles {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 0;
  margin-top: 50px;
}

.circle {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #f2f4f4 solid 2px;
  background-color: #f2f4f4;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  padding: 120px;
  text-align: center;
}

.circle:hover {
  background-color: #ffffff;
  box-shadow: 0 5px 10px #00000033;
}

.circle #p-for-circle1 {
  font-weight: bold;
  color: #00d47e;
}

.circle #p-for-circle1 #trend {
  font-weight: bold;
  font-style: normal;
  font-size: large;
  letter-spacing: 1px;
}

.circle #p-for-circle1 #micro {
  font-weight: 600;
  font-style: normal;
  font-size: 10px;
  letter-spacing: 5px;
}

.circle #p-for-circle2 {
  display: inline-flex;
  gap: 2px;
}

.circle #p-for-circle2 #telai {
  font-weight: bold;
}

.circle #p-for-circle2 #Cygate {
  font-weight: Regular;
}

.circle #p-for-circle3 {
  font-weight: bold;
}
.circle #p-for-circle4 {
  font-weight: 600;
}

.circle #p-for-circle5 {
  font-weight: bold;
  font-size: larger;
}

.qualitytext-and-service {
  display: block;
  margin-top: 8%;
  margin-bottom: 8%;
  background-color: #f2f4f4;
  height: 900px;
}

.text4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6%;
}

.service {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10x;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 4%;
  margin-bottom: 6%;
  border: #f4f2f3 solid 1px;
  border-radius: 20px;
  overflow: hidden;
}

.internal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 25px;
  font-weight: regular;
  background-color: #ffffff;
  border: #f2f4f4 solid 1px;
  padding-top: 25px;
  padding-left: 20px;
}
.internal > img {
  width: 40px;
  height: 40px;
}
#layeredsecurity {
  color: #7d7d7d;
}

.text5 {
  font-weight: 300;
}

.get1 {
  height: 40px;
  width: 150px;
  background-color: #00d47e;
  color: #ffffff;
}

.trustedtext-and-table {
  display: block;
}
.text-and-getbutton {
  gap: 24%;
  left: 50px;
  position: absolute;
  top: 0;
}

.all-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
}

.text-and-button-and-table {
  position: relative;
  width: 600px;
  padding: 200px;
}

.table {
  position: absolute;
  bottom: -26px;
  left: 30px;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  gap: 10px;
  width: 450px;
}

.man-img img {
  border-radius: 20px;
  width: 500px;
}
.solar {
  background-color: #ffffff;
  border: 2px solid #f2f4f4;
  border-radius: 15px;
  padding: 10px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.solar p {
  color: #9ea0a0;
}
.solar h5 {
  font-weight: 300;
}
.solar a {
  color: black;
}
.medtronic {
  width: 70%;
  height: 500px;
  background-color: #f2f4f4;
  margin-top: 4%;
  margin-left: 15%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 50px;
  padding-bottom: 30px;
}

.medtronic #head {
  padding-top: 50p;
  margin-top: 50px;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-weight: 500;
}

.viewcasestudy-button {
  height: 40px;
  background-color: #00d47e;
  color: #ffffff;
  margin-bottom: 100px;
  width: 150px;
}
#car-img {
  position: absolute;
  width: 25%;
  height: 480px;
  bottom: 10px;
  right: 280px;
  border-radius: 20px;
}
.car-and-medtronic {
  position: relative;
}
.line {
  width: 200px;
  height: 3px;
  border: none;
  background-color: #333;
  margin-left: 50px;
}
.Medtronic p {
  width: 400px;
  margin-top: 30px;
}

.lines {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.textandicones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.icones1 {
  position: absolute;
  left: 565px;
  top: 1px;
}
.icones2 {
  position: absolute;
  left: 823px;
  color: #8d959d;
}
.icones3 {
  position: absolute;
  left: 1077px;
  color: #8d959d;
}

.blackbox {
  display: block;
  background-color: #000000;
  margin-top: 150px;
  width: 100%;
}
.supporttexts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 100px;
  position: relative;
  margin-bottom: 150px;
}

#firsttext {
  position: absolute;
  top: 220px;
  color: #ffffff;
}

#secondtext {
  position: absolute;
  top: 220px;
  left: 550px;
  color: #ffffff;
}

.nav-two {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icoens {
  color: #ffffff;
}

.blackbox-line {
  width: 76%;
  height: 3px;
  background-color: #cec2c2;
  margin-left: 12%;
  margin-top: 3%;
}

.terms {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 4%;
  gap: 55%;
  margin-left: 12%;
  color: #ffffff;
}

.smallpicture-inthebigpicture {
  width: 17%;
  height: 39%;
  position: absolute;
  top: 12%;
  right: 10%;
  background-color: #bab9b966;
  border-radius: 15px;
}

.smallpicture-inthebigpicture img {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 15px;
  width: 220px;
  height: 220px;
}

.smallpicture-inthebigpicture p {
  color: #ffffff;
  margin-top: 20px;
  margin-left: 180px;
}

.curve-one {
  width: 2rem;
  height: 2rem;
  contain: "";
  position: absolute;
  background-color: transparent;
  bottom: 1px;
  left: 1028px;
  border-bottom-right-radius: 1.3rem;
  box-shadow: 0.5rem 0.5rem #ffffff;
}

.curve-two {
  width: 2rem;
  height: 2rem;
  contain: "";
  position: absolute;
  background-color: transparent;
  right: 15px;
  bottom: 241px;
  border-bottom-right-radius: 1.3rem;
  box-shadow: 0.5rem 0.5rem #ffffff;
}
.SupportTexts .qualitytext #focusingquality {
  color: #ffffff;
}
.button-under-text p {
  color: #ffffff;
}
#whitebutton {
  width: 130px;
  height: 45px;
  background-color: #ffffff;
  color: #000000;
}
.logo img {
  height: 40px;
  background-color: #000000;
}
.linkss #links-for-blackbox {
  color: #ffffff;
}
#CTO {
  color: #5c5d5d;
}
